#name {
	float:left;
	text-transform:uppercase;
	padding-left:100px;
}

#slogan {
	float:right;
	text-transform:uppercase;
	padding-right:100px;
}

#main_section {
	width:100%;
	margin: 0px auto;	
}


#header{
	background-color:#A80000;
	color:black
	font-size:20px;
}

body {
	margin-top:20px;
	background-color:black;
	//background-image:url("front.jpg");
	//background-size:960px 720px;
	background-repeat:no-repeat;
	background-image: url(front.jpg);
  background-image: -webkit-linear-gradient(left, 
    rgba(0,0,0,1.0) 4%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.9) 100%
  ),
  url(front.jpg);
	
}

#content, #main {
	background-color:#C0C0C0;
	opacity:0.7;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	width:260px;
	height:260px;
	margin-bottom:30px;
	border-radius:10px;
}

.words {
	font-size:14px;
	padding-left:15px;
	padding-right:15px;
}

#content2 {
	
}

.panel {
	background-color:#800000;
	opacity:0.7;
	filter:alpha(opacity=40);
	width:250px;
	height:250px;
	margin-top:10px;
	margin-left:50%;	
}

