body {
	background-color:#680000;
}

#main_section {
	width:800px;
	margin: 0px auto;	
}


#header{
	background-color:#680000; 
	color:white;
	font-size:20px;
}

#home {
	background-color:white;
}
#picture {
	height:300px;
	background-image:url('front.jpg');
	background-size: 100%;
	background-position:center;
	border-style:solid;
	color:black;
	border-width:1px; 
}

#float {
	background-color:white;
	opacity:0.7;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	width:250px;
	height:150px;
	float:right;
	border-radius:10px;
	padding:10px;

}

#schedule {
	background-color:white;
}


ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
padding-right:0px;
}
.nav
{
display:block;
width:190px;
font-size:.9em;
color:black;
background-color:white;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
.nav:hover,.nav:active
{
background-color:#383838 ;
}

a {
	text-decoration:none;
	color:black;
	width:200px;
}
